<.sidebar current_page={@page_title} />
<main class="px-4 py-20 sm:px-6 lg:px-8 ml-12 bg-dots min-h-svh">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
